.app {
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
  }
  
form{
    background-color: white;
    color: #1c2237;;
    border-radius: 10px;
    /* border-style: solid; */
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px #ccc;
}

.Form-title{
    text-align: center;
    color: brown;
}

.Form-label {
    text-align: left;
}

.form-button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}