.FormInvoice-wrap {
  text-align: center;
  min-height: 75vh;
}

.FormInvoice-cont {
  display: inline-block;
  padding: 2vh 0;
}

.FormInvoice-item {
  margin-bottom: 1vh;
}

/* Tabley */
@media screen and (min-width: 600px) {
  .FormInvoice-cont {
    display: flex;
    justify-content: center;
    gap: 2vh;
  }

  .FormInvoice-wrap {
    text-align: center;
    min-height: 55vh;
  }

  .FormInvoice-item {
    margin-bottom: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
}