
  .hero-btn{
    margin: 20px;
  }
  .hero-images{
    object-fit: cover;
    width: 100%;
    height: 126.3vh;
    position: absolute;
    z-index: -1;
    margin-top: -100px;
    background-attachment: scroll;
    object-position: 75%;
  }
  
  .hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
    object-fit: contain;
    margin-top: -100px; 
  }
  
  .hero-container> p {
    margin-left: -64vw;
    margin-top: -40px;
    
    
    border-radius: 1px red;
    color: #303030;
    font-size: 3.5vmin ;
    
  }
  
  .hero-container> h2 {
    margin-left: -34vw;
    color: #2b2b2b;
    font-size: 6.5vmin;
    margin-top: 10px;
    
  
  }
  
  .spimage{
    position: absolute;
    top:200px;
    width: 30%;
    height: 20%;
  }
  
  .multi-item{
    
    display: flex;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    margin-right:63vw ;
    margin-top: 15px; 
  }
  
  .multi-button_button{
    font-family: "Metropolis" sans-serif;
    font-size: 24px;
    padding: 23px 20px ;
    color: #2b2b2b;
    transition: background 0.2s ease-in-out;
    background-color: var(--secondary);
  }
  
  .multi-button_button:focus{
    outline: 5px solid var(--font);
  }
  
  .multi-button_button:first-child{
    border-radius: 10px 0 0 10px;
  }
  
  .multi-button_button:last-child{
    border-radius: 0 10px 10px 0;
  }
  
  .multi-button_button:first-child,
  .multi-button_button:last-child{
    transition: none;
    position: relative;
    overflow: hidden;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }



@media screen and (max-width:1920px) {
  .hero-btn{
    margin: 18px;
  }
  .hero-images{
    object-fit: cover;
    width: 100%;
    height: 126.3vh;
    position: absolute;
    z-index: -1;
    margin-top: -100px;
    background-attachment: scroll;
    object-position: 75%;
  }
  
  .hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
    object-fit: contain;
    margin-top: -100px; 
  }
  
  .hero-container> p {
    margin-left: -67vw;
    margin-top: -40px;
    
    
    border-radius: 1px red;
    color: #303030;
    font-size: 3.5vmin ;
    
  }
  
  .hero-container> h2 {
    margin-left: -41vw;
    color: #2b2b2b;
    font-size: 6.5vmin;
    margin-top: 10px;
    
  
  }
  
  .spimage{
    position: absolute;
    top:200px;
    width: 30%;
    height: 20%;
  }
  
  .multi-item{
    
    display: flex;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    margin-right:45vw ;
    margin-top: 15px; 
  }
  
  .multi-button_button{
    font-family: "Metropolis" sans-serif;
    font-size: 20px;
    padding: 23px 20px ;
    color: #2b2b2b;
    transition: background 0.2s ease-in-out;
    background-color: var(--secondary);
  }
  
  .multi-button_button:focus{
    outline: 5px solid var(--font);
  }
  
  .multi-button_button:first-child{
    border-radius: 10px 0 0 10px;
  }
  
  .multi-button_button:last-child{
    border-radius: 0 10px 10px 0;
  }
  
  .multi-button_button:first-child,
  .multi-button_button:last-child{
    transition: none;
    position: relative;
    overflow: hidden;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }

  
}


@media screen and (max-width: 960px) {
  .hero-btn{
    padding: 5px 0;
  }
  .hero-container > h2 {
    margin-left: 3vw;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .multi-item{
    margin-left: -5vw;
    margin-right: 10%;
    margin: -15 px;
  }

  .multi-button_button{
    font-size: 16px;
    padding: -5px -10px;
    color: white;
  }

  .hero-container > p {
    margin-left:-36vw;
    margin-right:-4vw;
    color: white;
    font-size: 32px; 
  }
}

@media screen and (max-width: 768px) {

  .hero-images{
    object-position: 70%;
  }

  .hero-container > h2 {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
  }

  .hero-container > p {
    margin-left: -46vw;
    margin-right:-2vw;
    color: white;
    font-size: 24px;
  }
  
  .multi-item{
    text-align: center;
    display: inline-block;
    width: 60vw;
    margin-left:8vw ;
    margin-top: -5px;
    font-size: 16px;
  }



  /* .multi-button_button{
    color: white;
    font-size: 14px;
    
    border-style:solid ;
    margin-bottom: 5px;
    margin-top: 5px;
  } */
 
}

  @media screen and (min-width: 325px) and (max-width: 690px) {
    .hero-btn{
      padding: 0 ;
    }
    .hero-container > p{
      font-size: 14px;
      margin-right: -6vw;
      
    }
    
    .herosection-butbuttonpos{
      text-align: center;
    }
    .multi-item{
      display: inline-block;
      
    }

    .multi-button_button{
      padding: 8px 0px;
      /* border-style: solid; */
    }
  }
